.App {
  text-align: center;
  background-image: url(https://popmenucloud.com/smgxvkoz/4079d573-02f3-4f4b-9af2-53b140e96a1b.jpeg);
  width: auto;
  height: 90vh;
  margin-top: 0;
  border-top: 1rem solid black;
}

.bubble {
  position: relative;
  /* font-family: sans-serif; */
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  border: 3px solid black;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}