.App {
  text-align: center;
  background-image: url(https://popmenucloud.com/smgxvkoz/4079d573-02f3-4f4b-9af2-53b140e96a1b.jpeg);
  width: auto;
  height: 90vh;
  margin-top: 0;
  border-top: 1rem solid black;
}

/* .nav-items:hover{
  text-shadow: 2px 2px 5px red;
} */