.App {
  text-align: center;
  background-image: url(https://popmenucloud.com/smgxvkoz/4079d573-02f3-4f4b-9af2-53b140e96a1b.jpeg);
  background-size: cover;
  border-top: 1rem solid black;
  border-bottom: 1rem solid black;  
}

.bubble {
  position: relative;
  font-family: sans-serif;
  height: auto;
  width: 90%;
  background: #fff;
  border-radius: 50px;
  padding: 2% 2% 2% 2%;
  color: #000;
  border: 4px solid black;
  margin-top: 5%;
  max-width: 550px;
}

.bubble-bottom-left:before {
  content: "";
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 25px;
  bottom: -25px;
}

#nav{
  width: 70%;
}

#nav:hover{
  color:lightgrey;
  filter: drop-shadow(5px 5px 5px rgb(24, 23, 23));
}

#imgBox{
  max-width: 500px;
  min-width: 250px;
}

.PDFDocument{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PDFPage > canvas{
  max-width: 100%;
  height: auto !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}






